
body{
background: url('Voitures.jpg.jpg');
background-size: cover;
background-repeat: no-repeat;	
}
.tab td,th{
background-color: rgb(199, 220, 200);
padding: 3px;
}
.tab{
	border-collapse: collapse;
}
.erreur{
	color: #1217b5;
}
.succes{
	color: #e30f0f;
}
ul{
	display:flex;
	justify-content:center;
	
}
li{
	margin:0 10px;
}
