/* Created by TopStyle Trial - www.topstyle4.com */
  
body{
	margin:0px;
	padding: 0px;
	background: url('Voitures.jpg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.tab {
	background-color: rgb(248, 15, 15);
	border-collapse: collapse;
	margin-bottom: 15px;
}
.tab th,td{
	padding: 5px;
}
.bouton{
	width: 150px;
	height: 25px;
	font-size: 17px;
	background-color: #4c00ff;
}
.bouton2{
	width: 330px;
	height: 25px;
	font-size: 17px;
	background-color: #ff0000;
}
fieldset{
	width: 50%;
	border:1px solid rgb(0, 0, 0);
}
a{
	color: rgb(255, 255, 255);
	text-decoration: none;
}
